
/*logo and nav styling*/

.inline-block {
    display: inline-block;
    vertical-align: top;
}

.logo {
    width: 23%;
    padding: 1%;
    text-align: center;
}

nav {
    width: 70%;
    padding: 1%;
}

ul {
    width: 50%;
    margin-left: auto;
    margin-right: 0;
}

li {
    padding: 10px;
}

.navigation {
    margin-bottom: 0;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium 500;
}


/*About Me styling*/

.opener h1 {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  font-size: 26px;
  font-family: 'Montserrat', sans-serif;
  font-weight: medium 500;
  padding:10px;
}

.opener img{
    max-width: 20%;
    max-height: 20%;
    padding: 10px;
}

.heroImg {
    text-align: center;
    height:850px;
    padding: 50px;
    width: 1200px;
    margin: 0 auto;
    margin-bottom: 70px;
}

.heroImg p {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

.heroImg button {
    margin-top: 20px;
    color: white;
    background-color: #728196;
    height: 40px;
    width: 300px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*My Skills styling using CSS Flex*/

.mySkills h1 {
    margin-top: 50px;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
}

.flexContainer {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.flexContainer .skill {
    width:33%;
    background-color: lightgray;
    margin:10px;
    padding:2%;
    
}

.flexContainer .skill:hover {
    background-color: lightgray;
}

.flexContainer .skill:hover {
    background-color: #BCBBBB;
    box-shadow: 0 2px 6px 6px lightgrey;
    transform:translateX(2px);
    transform: translateY(2px);
}

.mySkills h1{
    text-align: center;
    margin-bottom: 20px;
}

.mySkills h3{
    text-align: center;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

.flexContainer img{
    width: 200px;
    height: 150px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:50%;
}

.mySkills p{
    text-align: center;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
}

/*My Work styling using CSS Grids*/

.myWork {
    margin-bottom: 50px;
}

.myWork h1 {
    margin-top: 150px;
    font-size: 34px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    padding: 10px;
    text-align: center;
}

.workGrid {
    display:grid;
    grid-template-columns:230px 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
        "imgPlannr descripPlannr descripPlannr  descripPlannr"
        "imgClarity descripClarity descripClarity descripClarity"
        "imgFh4k descripFh4k descripFh4k descripFh4k"
    ;
}

.workGrid img{
    max-height:350px;
    width: auto;
    max-width: 180px;
    padding:10px;
    margin-left:20px;
    margin-top: 15px;
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}

h5 {
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}


.myWork p {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 30px;
    max-width: 1000px;
}


.imgPlannr{
    grid-area: imgPlannr;
    background-color:#CDD3E6;
    margin-bottom: 20px;
}

.descripPlannr{
    grid-area: descripPlannr;
    background-color:#CDD3E6;
    margin-bottom: 20px;
}

.imgClarity{
    grid-area: imgClarity;
    background-color:#CDD3C8;
    margin-bottom: 20px;
    height: 400px;
}

.descripClarity{
    grid-area: descripClarity;
    background-color:#CDD3C8;
    margin-bottom: 20px;
}

.imgFh4k {
    grid-area:imgFh4k;
    background-color:#D1BECA;
    margin-bottom: 20px;
}

.imgFh4k img{
    max-width: 160px;
    height: 380px;
}

.descripFh4k{
    grid-area: descripFh4k;
    background-color:#D1BECA;
    margin-bottom: 20px;
}

.workButton {
    color: white;
    background-color: #728196 ;
    height: 40px;
    width: 200px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.myWork .portfolioDownload {
    text-align: center;
    color: white;
    background-color: #728196 ;
    padding:10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    margin-top: 50px;
    height: 50px;
    width: 300px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}


/*Footer styling*/

footer {
    background-color: lightgray;
    padding: 1%;
    text-align: center;
}

footer ul {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    color: black;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: medium 500;
}


/*Media Query for My Skills (Flex)*/

@media only screen and (max-width: 600px) {

    .heroImg {
        max-width: 400px;
        height: 500px;
    }

    .flexContainer {
        display:flex;
        flex-direction:column;
    }

    .flexContainer .skill {
        width: 100%;
    }

    .flexContainer img{
        margin-top:10px;
    }

    .workGrid {
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 400px 320px 400px 360px 380px 340px;
        grid-template-areas:
            "imgPlannr"
            "descripPlannr"
            "imgClarity" 
            "descripClarity"
            "imgFh4k"
            "descripFh4k"
        ;
    }

    .workGrid img{
        max-height:350px;
        max-width: 180px;
        padding:10px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width:50%;
    }

    .imgPlannr{
        grid-area: imgPlannr;
        margin-bottom: 20px;
        background-color:#FFFFFF;
    }

    .descripPlannr{
        padding: 20px;
        grid-area: descripPlannr;
        background-color:#CDD3E6;
        margin-bottom: 20px;
    }

    .imgClarity{
        grid-area: imgClarity;
        margin-bottom: 20px;
        background-color:#FFFFFF;
    }

    .descripClarity{
        padding: 20px;
        grid-area: descripClarity;
        background-color:#CDD3C8;
        margin-bottom: 20px;
    }

    .imgFh4k {
        grid-area:imgFh4k;
        margin-bottom: 20px;
        background-color:#FFFFFF;
    }

    .descripFh4k{
        padding: 20px;
        grid-area: descripFh4k;
        background-color:#D1BECA;
        margin-bottom: 20px;
    }

}